In [40]:
# the datasets should be converted to .xls format 
# importing data
# some sheet names vary across the three datasets therefore sheet_names list is changed according to the dataset
import pandas as pd
import numpy as np

sheet_names = ["All patient data - 2021-02-11T0","Genotype","Histochemistry","All Heteroplasmy","Basic Clinical Data",
             "Phenotype","Systemic features","Family History","Social History","Blood Results","Neurophysiology","Imaging",
             "Cardiac","Opthalmology","Audiology","Transplant","NMDAS","Paediatric Information","NPMDS","Mortality"]

dataframes_ncl = [pd.read_excel("/Users/nishaalajmera/Documents/MScProject/Data/Leighs patients at Newcastle and outreach centres after Albert review.xls",sheet_name=f) for f in sheet_names]

sheet_names = ["All patient data - 2021-02-11T1","Genotype","Histochemistry","All heteroplasmy","Basic clinical data",
             "Phenotype","Systemic features","Family History","Social History","Blood results","Neurophysiology","Imaging",
             "Cardiac","Opthalmology","Audiology","Transplant","NMDAS","Paediatric Information","NPMDS","Mortality"]

dataframes_ucl = [pd.read_excel("/Users/nishaalajmera/Documents/MScProject/Data/Leighs patients at UCL after Albert review.xls",sheet_name=f) for f in sheet_names]

sheet_names = ["All patient data - 2021-02-11T1","Genotype","Histochemistry","All Heteroplasmy","Basic clinical data",
             "Phenotype","Systemic features","Family History","Social history","Blood Results","Neurophysiology","Imaging",
             "Cardiac","Opthalmology","Audiology","Transplant","NMDAS","Paediatric Information","NPMDS","Mortality"]

dataframes_oxf = [pd.read_excel("/Users/nishaalajmera/Documents/MScProject/Data/Leighs patients at Oxford after Albert review.xls",sheet_name=f) for f in sheet_names]

In [41]:
# the dataframes are seperated into individual dataframes for each sheet
all_ncl,gen_ncl,his_ncl,heter_ncl,clin_ncl,phen_ncl,sys_ncl,fam_ncl,soc_ncl,blood_ncl,neuro_ncl,img_ncl,car_ncl,opth_ncl,aud_ncl,trans_ncl,nmdas_ncl,paed_ncl,npdms_ncl,mort_ncl = dataframes_ncl[:]
all_ucl,gen_ucl,his_ucl,heter_ucl,clin_ucl,phen_ucl,sys_ucl,fam_ucl,soc_ucl,blood_ucl,neuro_ucl,img_ucl,car_ucl,opth_ucl,aud_ucl,trans_ucl,nmdas_ucl,paed_ucl,npdms_ucl,mort_ucl = dataframes_ucl[:]
all_oxf,gen_oxf,his_oxf,heter_oxf,clin_oxf,phen_oxf,sys_oxf,fam_oxf,soc_oxf,blood_oxf,neuro_oxf,img_oxf,car_oxf,opth_oxf,aud_oxf,trans_oxf,nmdas_oxf,paed_oxf,npdms_oxf,mort_oxf = dataframes_oxf[:]

In [42]:
# concatening same sheet type across different datasets
all =  pd.concat([all_ncl,all_ucl,all_oxf],ignore_index=True)
gen =  pd.concat([gen_ncl,gen_ucl,gen_oxf],ignore_index=True)
his =  pd.concat([his_ncl,his_ucl,his_oxf],ignore_index=True)
heter = pd.concat([heter_ncl,heter_ucl,heter_oxf],ignore_index=True)
clin = pd.concat([clin_ncl,clin_ucl,clin_oxf],ignore_index=True)
phen = pd.concat([phen_ncl,phen_ucl,phen_oxf],ignore_index=True)
sys = pd.concat([sys_ncl,sys_ucl,sys_oxf],ignore_index=True)
fam = pd.concat([fam_ncl,fam_ucl,fam_oxf],ignore_index=True)
soc = pd.concat([soc_ncl,soc_ucl,soc_oxf],ignore_index=True)
blood = pd.concat([blood_ncl,blood_ucl,blood_oxf],ignore_index=True)
neuro = pd.concat([neuro_ncl,neuro_ucl,neuro_oxf],ignore_index=True)
img = pd.concat([img_ncl,img_ucl,img_oxf],ignore_index=True)
car = pd.concat([car_ncl,car_ucl,car_oxf],ignore_index=True)
opth = pd.concat([opth_ncl,opth_ucl,opth_oxf],ignore_index=True)
aud = pd.concat([aud_ncl,aud_ucl,aud_oxf],ignore_index=True)
trans = pd.concat([trans_ncl,trans_ucl,trans_oxf],ignore_index=True)
nmdas = pd.concat([nmdas_ncl,nmdas_ucl,nmdas_oxf],ignore_index=True)
paed = pd.concat([paed_ncl,paed_ucl,paed_oxf],ignore_index=True)
npdms = pd.concat([npdms_ncl,npdms_ucl,npdms_oxf],ignore_index=True)
mort = pd.concat([mort_ncl,mort_ucl,mort_oxf],ignore_index=True)

In [43]:
# changing dtypes of date columns in dataframes where date columns are stored as obj to datetime format 

df_date = [his,heter,clin,phen,sys,paed]

for df in df_date:
    df["Date"] = df["Date"].replace(['Undated'],np.nan) # first the Undated rows should be replaced with NA
    df['Date'] = pd.to_datetime(df['Date'])

In [44]:
# pd.set_option('display.max_rows', 250)
# To check percentage of missing values in each column 
# opth.isnull().sum()/ opth.shape[0]

In [45]:
# dropping columns with All NAs
gen = gen.drop(columns = ['Genotype','Deletion breakpoint 2 (bp)','Deletion breakpoint 1 (bp)',
                          'Deletion size (bp)','Single deletion genotype'])

his = his.drop(columns = ['RRF (%)','Histochemistry'])

heter = heter.drop(columns = ['Colon','Amniotic fluid','All heteroplasmy','other','ileum_ul','ileum_st_','Duodenal','Gastric',    
                            'Interventricular septum','Left ventricle','Right ventricle','Right atrium','Left atrium','fb3','fb2','fb1',  
                            'Fibroblast','CVB','Liver','Brain','urine_bad','Osteoma','Muscle SFs (COX -ve)','Muscle SFs (COX +ve)',   
                            'urine_pt','Heteroplasmy (H/M/L)','Hair','Lipoma','Adrenal','Kidney','Heteroplasmy (numeric)'])

clin = clin.drop(columns = ['Basic clinical data'])

phen = phen.drop(columns = ["Phenotype/clinical features","Unnamed: 3","Kearns-Sayre syndrome","MNGIE","Pes cavus",
                            "Leukoencephalopathy with brainstem and spinal cord involvement and lactate elevation",  
                            "Renal transplant","Respiratory failure","Sideroblastic anaemia","Paediatric phenotype"] )  

sys = sys.drop(columns = ['Hepatic carcinoma','Head and neck cancer','Laryngeal cancer','Leukaemia','Lymphoma','Myeloma',     
                        'Lung cancer','Oesophageal cancer','Gastric cancer','Small bowel cancer','Colon cancer',
                        'Brain tumour','Pancreatic cancer','Renal cancer','Bladder cancer','Prostate cancer',
                        'Osteosarcoma','Breast cancer','Ovarian cancer','Uterine cancer','Cervical cancer',        
                        'Other','Unnamed: 31','Glomerulonephritis',"Tubulopathy/ Fanconi's syndrome",  
                        'Dialysis','Chronic kidney disease','Unnamed: 7','Systemic features','Thyroid cancer'])

fam = fam.drop(columns = ['Pedigree Index Number','Family history'])

soc = soc.drop(columns = ['Social history'])

blood = blood.drop(columns = ['Blood results','Urine sodium',
                              'Random cortisol','Free triiodothyronine (FT3)','eGFR','Unnamed: 3'])

neuro = neuro.drop(columns = ["Neurophysiology","EMG","SFEMG","Normal.1","jitter","blocking",
                              "NCS","Mononeuropathy","Polyneuropathy","Mononeuritis multiplex", 
                                "Motor","Sensory","Sensorimotor","Ganglionopathy",
                                "Axonal","Demyelinating","Mixed","EEG",                  
                                "Unnamed: 29","Unnamed: 32","Unnamed: 37","Unnamed: 42","Unnamed: 47"])

img = img.drop(columns = ["Imaging","PET scan","Normal","SPECT","Normal.1","DAT scan","Normal.2",
                          "Normal.3","Reduced uptake bilaterally","Reduced uptake on the left basal ganglia",
                          "CT head","Description (other)","MRS (brain)","lactate_peak","MRS (muscle)",
                          "normal.1","MRI (brain)","MRI (heart)","normal.2","hypokinesis","ejection_fraction",
                          "indexed_lv_mass","MRI (muscle)","Atrophy.2","High signal stir","High signal T1"])

car = car.drop(columns = ["Cardiac investigations","ECG","ECHO","LVOT peak velocity (cm/s)",
                          "Septal thickness(cm)","Left ventricle posterior wall thickness diastolic (cm)",
                          "Left atrial index","Left atrial volume","Left ventricle systolic dimension (cm)",
                          "Left ventricle diastolic dimension (cm)","E/E'"])

opth = opth.drop(columns = ["Ophthalmology"])

aud = aud.drop(columns = ["Audiology","Audiogram"])

paed = paed.drop(columns = ["Birth weight","Paediatric information"])

mort = mort.drop(columns = ["Post mortem","Cause of Death Ic)","Mortality"])

npdms = npdms.drop(columns = ["NPMDS","Scaled score","Retrospective scale 1",
                              "Retrospective scale 1 question 1","Retrospective scale 1 question 2",                              
                                "Retrospective scale 1 question 3","Retrospective scale 1 question 4",
                                "Retrospective scale 1 question 5","Retrospective scale 1 question 6",                              
                                "Retrospective scale 1 question 7","Retrospective scale 1 question 8",
                                "Retrospective scale 1 question 9","Retrospective scale 1 question 10",                           
                                "Retrospective scale 1 question 11","Retrospective scale 1 question 12",                            
                                "Retrospective scale 1 question 13","Retrospective scale 1 question 14",                          
                                "Retrospective scale 1 question 15","Retrospective scale 1 question 16",                             
                                "Retrospective scale 1 question 17","Retrospective scale 1 question 18",                            
                                "Retrospective scale 1 question 19","Retrospective scale 1 question 20",                             
                                "Retrospective scale 1 question 21","Retrospective scale 1 question 22",                            
                                "Retrospective scale 1 question 23","Retrospective scale 1 question 24",                           
                                "Retrospective scale 1 question 25","Retrospective scale 1 question 26",                            
                                "Retrospective scale 2","Retrospective scale 2 question 1",                           
                                "Retrospective scale 2 question 2","Retrospective scale 2 question 3",                             
                                "Retrospective scale 2 question 4","Retrospective scale 2 question 5",                             
                                "Retrospective scale 2 question 6","Retrospective scale 2 question 7",                             
                                "Retrospective scale 2 question 8","Retrospective scale 2 question 9",                            
                                "Retrospective scale 2 question 10","Retrospective scale 2 question 11",                            
                                "Retrospective scale 2 question 12","Retrospective scale 2 question 13",                             
                                "Retrospective scale 2 question 14","Retrospective scale 2 question 15",                             
                                "Retrospective scale 2 question 16","Retrospective scale 2 question 17",                             
                                "Retrospective scale 2 question 18","Retrospective scale 2 question 19",                            
                                "Retrospective scale 2 question 20","Retrospective scale 2 question 21",                            
                                "Retrospective scale 2 question 22","Retrospective scale 2 question 23",                             
                                "Retrospective scale 2 question 24","Retrospective scale 2 question 25",                             
                                "Retrospective scale 2 question 26","Retrospective scale 3",
                                "Retrospective scale 3 question 1","Retrospective scale 3 question 2",
                                "Retrospective scale 3 question 3","Retrospective scale 3 question 4",
                                "Retrospective scale 3 question 5","Retrospective scale 3 question 6",
                                "Retrospective scale 3 question 7","Retrospective scale 3 question 8",
                                "Retrospective scale 3 question 9","Retrospective scale 3 question 10",
                                "Retrospective scale 3 question 11","Retrospective scale 3 question 12",
                                "Retrospective scale 3 question 13","Retrospective scale 3 question 14",
                                "Retrospective scale 3 question 15","Retrospective scale 3 question 16",                            
                                "Retrospective scale 3 question 17","Retrospective scale 3 question 18",
                                "Retrospective scale 3 question 19","Retrospective scale 3 question 20",
                                "Retrospective scale 3 question 21","Retrospective scale 3 question 22",
                                "Retrospective scale 3 question 23","Retrospective scale 3 question 24",
                                "Retrospective scale 3 question 25","Retrospective scale 3 question 26"])

In [46]:
# renaming columns so that columns with same names for different clinical outcomes are not repeated

gen.rename(columns={'Other notes':'Gen_Other'}, inplace=True)

his.rename(columns={'Normal':'His_Normal'}, inplace=True)

neuro.rename(columns={'Normal':'EMG_Normal','Other':'EMG_Other','Neurogenic':'EMG Neurogenic',
                      'Myopathic':'EMG_Myopathic','Normal.2':'NCS_Normal','Normal.3':'EEG_Normal'},
             inplace=True)

img.rename(columns={"Normal.4":"CThead_Normal",'Atrophy':"CThead_Atrophy",
                    "Infarct":"CThead_Atrophy","Other":"CThead_Other",
                    "normal":"MRS (brain)_Normal","Normal.5":"MRIbrain_Normal",
                    "Atrophy.1":"MRIbrain_Atrophy","Infarct.1":"MRIbrain_Infarct",
                    "White matter change":"MRIbrain_White_matter_change",
                    "Other.1":"MRIb_Other","Other.2":"MRIb_Notes"},inplace=True)

car.rename(columns = {'Normal':'ECG_Normal','Other':'ECG_Other',
                      'Description (other)':'ECG_Description',
                      'Image':'ECG_Image','Normal.1':'ECHO_Normal',
                      'Image.1':'ECHO_Image','Description (other).1':'ECHO_Description',
                      'Other.1':'ECHO_Other'},inplace=True)

opth.rename(columns={'normal':'Opth_Normal','ptosis':'Opth_Ptosis',
                     'restriction':'Opth_Restriction','Normal':'Opth_Normal2'},inplace=True)

aud.rename(columns = {"Normal":"Aud_Normal"},inplace=True)

paed.rename(columns = {"Cardiomyopathy":"Paed_Cardiomyopathy"},inplace=True)

In [47]:
# Duplicate Sex column is removed 
clin = clin.drop(columns = ["Sex"])

In [48]:
# Trying to use for loop to merge data but can't 
#df_list = [his,heter,clin,phen,sys,fam,blood,neuro,img,car,aud,paed]
#for df in df_list:
 #   merged = pd.DataFrame(columns=["Unique ID", "Date"])
 #   merged = pd.merge(merged,df,on=["Unique ID", "Date"],how='outer')

# Combining dataframes with Unique ID and Date column - timeseries format, not included trans,soc,nmdas,npdms,
merged = pd.merge(his, heter, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, clin, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, phen, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, sys, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, fam, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, blood, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, neuro, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, img, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, car, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, opth, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, aud, on=["Unique ID", "Date"],how='outer')
merged = pd.merge(merged, paed, on=["Unique ID", "Date"],how='outer')

In [49]:
# Combining dataframes with Unique ID only
df2 = pd.merge(all, gen, on=["Unique ID"],how='left')
df2 = pd.merge(df2, mort, on=["Unique ID"],how='left')

In [50]:
# Merging both datasets together
df_combined =  pd.merge(df2, merged, on=["Unique ID"],how='outer')

In [51]:
df_combined.head(5)

,Unique ID,Birth date,Sex,Institution,Death date,Onset age,Genetics,Gen_Other,Unnamed: 9,Age at death,...,Diagnosis age,Diagnosis basis,Biochemical,Reduced movement,Paed_Cardiomyopathy,Abnormalities,Gestational age,Delivery method,Birth weight (g),Resuscitation
0,20c9,2004-03-11,F,Newcastle,NaT,1.0,m.13513G>A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20c9,2004-03-11,F,Newcastle,NaT,1.0,m.13513G>A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20c9,2004-03-11,F,Newcastle,NaT,1.0,m.13513G>A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20c9,2004-03-11,F,Newcastle,NaT,1.0,m.13513G>A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20c9,2004-03-11,F,Newcastle,NaT,1.0,m.13513G>A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# Figuring out how to combine same columns in NPDMS across different age range 
npdms['1. Vision'].update(npdms.pop('1. Vision.1'))