## Leigh Syndrome Project 
Nishaal Ramesh Ajmera   
Supervisors: Dr Stephen McGough, Dr Amy Vincent, Dr Conor Lawless, Atif Khan

### Data Cleaning

In [32]:
# the datasets were converted to .xls format 
# importing data
# some sheet names vary across the three datasets therefore sheet_names list is changed according to the dataset
import pandas as pd
import numpy as np

sheet_names = ["All patient data - 2021-02-11T0","Genotype","Histochemistry","All Heteroplasmy","Basic Clinical Data",
             "Phenotype","Systemic features","Family History","Social History","Blood Results","Neurophysiology","Imaging",
             "Cardiac","Opthalmology","Audiology","Transplant","NMDAS","Paediatric Information","NPMDS","Mortality"]

dataframes_ncl = [pd.read_excel("/Users/nishaalajmera/Documents/MScProject/Data/Leighs_patients_at_Newcastle_and_outreach centres_after_Albert_review.xlsx",sheet_name=f) for f in sheet_names]

sheet_names = ["All patient data - 2021-02-11T1","Genotype","Histochemistry","All heteroplasmy","Basic clinical data",
             "Phenotype","Systemic features","Family History","Social History","Blood results","Neurophysiology","Imaging",
             "Cardiac","Opthalmology","Audiology","Transplant","NMDAS","Paediatric Information","NPMDS","Mortality"]

dataframes_ucl = [pd.read_excel("/Users/nishaalajmera/Documents/MScProject/Data/Leighs_patients_at_UCL_after_Albert_review.xlsx",sheet_name=f) for f in sheet_names]

sheet_names = ["All patient data - 2021-02-11T1","Genotype","Histochemistry","All Heteroplasmy","Basic clinical data",
             "Phenotype","Systemic features","Family History","Social history","Blood Results","Neurophysiology","Imaging",
             "Cardiac","Opthalmology","Audiology","Transplant","NMDAS","Paediatric Information","NPMDS","Mortality"]

dataframes_oxf = [pd.read_excel("/Users/nishaalajmera/Documents/MScProject/Data/Leighs_patients_at_Oxford_after_Albert_review.xlsx",sheet_name=f) for f in sheet_names]

In [33]:
# the dataframes are seperated into individual dataframes for each sheet 
all_ncl,gen_ncl,his_ncl,heter_ncl,clin_ncl,phen_ncl,sys_ncl,fam_ncl,soc_ncl,blood_ncl,neuro_ncl,img_ncl,car_ncl,opth_ncl,aud_ncl,trans_ncl,nmdas_ncl,paed_ncl,npdms_ncl,mort_ncl = dataframes_ncl[:]
all_ucl,gen_ucl,his_ucl,heter_ucl,clin_ucl,phen_ucl,sys_ucl,fam_ucl,soc_ucl,blood_ucl,neuro_ucl,img_ucl,car_ucl,opth_ucl,aud_ucl,trans_ucl,nmdas_ucl,paed_ucl,npdms_ucl,mort_ucl = dataframes_ucl[:]
all_oxf,gen_oxf,his_oxf,heter_oxf,clin_oxf,phen_oxf,sys_oxf,fam_oxf,soc_oxf,blood_oxf,neuro_oxf,img_oxf,car_oxf,opth_oxf,aud_oxf,trans_oxf,nmdas_oxf,paed_oxf,npdms_oxf,mort_oxf = dataframes_oxf[:]

In [34]:
# Same sheet types are concatenated into one dataframe per sheet 
all =  pd.concat([all_ncl,all_ucl,all_oxf],ignore_index=True)
gen =  pd.concat([gen_ncl,gen_ucl,gen_oxf],ignore_index=True)
his =  pd.concat([his_ncl,his_ucl,his_oxf],ignore_index=True)
heter = pd.concat([heter_ncl,heter_ucl,heter_oxf],ignore_index=True)
clin = pd.concat([clin_ncl,clin_ucl,clin_oxf],ignore_index=True)
phen = pd.concat([phen_ncl,phen_ucl,phen_oxf],ignore_index=True)
sys = pd.concat([sys_ncl,sys_ucl,sys_oxf],ignore_index=True)
fam = pd.concat([fam_ncl,fam_ucl,fam_oxf],ignore_index=True)
soc = pd.concat([soc_ncl,soc_ucl,soc_oxf],ignore_index=True)
blood = pd.concat([blood_ncl,blood_ucl,blood_oxf],ignore_index=True)
neuro = pd.concat([neuro_ncl,neuro_ucl,neuro_oxf],ignore_index=True)
img = pd.concat([img_ncl,img_ucl,img_oxf],ignore_index=True)
car = pd.concat([car_ncl,car_ucl,car_oxf],ignore_index=True)
opth = pd.concat([opth_ncl,opth_ucl,opth_oxf],ignore_index=True)
aud = pd.concat([aud_ncl,aud_ucl,aud_oxf],ignore_index=True)
trans = pd.concat([trans_ncl,trans_ucl,trans_oxf],ignore_index=True)
nmdas = pd.concat([nmdas_ncl,nmdas_ucl,nmdas_oxf],ignore_index=True)
paed = pd.concat([paed_ncl,paed_ucl,paed_oxf],ignore_index=True)
npdms = pd.concat([npdms_ncl,npdms_ucl,npdms_oxf],ignore_index=True)
mort = pd.concat([mort_ncl,mort_ucl,mort_oxf],ignore_index=True)

In [35]:
# the date columns for sheets that are not converted to datetime format are converted 

df_date = [his,heter,clin,phen,sys,paed]

for df in df_date:
    df["Date"] = df["Date"].replace(['Undated'],np.nan) # first the Undated rows are replaced with NA
    df['Date'] = pd.to_datetime(df['Date'])

In [36]:
# pd.set_option('display.max_rows', 250)
# To check percentage of missing values in each column 
# opth.isnull().sum()/ opth.shape[0]

In [37]:
# dropping uninformative columns with All Missing Values 
gen = gen.drop(columns = ['Genotype','Deletion breakpoint 2 (bp)','Deletion breakpoint 1 (bp)',
                          'Deletion size (bp)','Single deletion genotype'])

his = his.drop(columns = ['RRF (%)','Histochemistry'])

heter = heter.drop(columns = ['Colon','Amniotic fluid','All heteroplasmy','other','ileum_ul','ileum_st_','Duodenal','Gastric',    
                            'Interventricular septum','Left ventricle','Right ventricle','Right atrium','Left atrium','fb3','fb2','fb1',  
                            'Fibroblast','CVB','Liver','Brain','urine_bad','Osteoma','Muscle SFs (COX -ve)','Muscle SFs (COX +ve)',   
                            'urine_pt','Heteroplasmy (H/M/L)','Hair','Lipoma','Adrenal','Kidney','Heteroplasmy (numeric)'])

clin = clin.drop(columns = ['Basic clinical data'])

phen = phen.drop(columns = ["Phenotype/clinical features","Unnamed: 3","Kearns-Sayre syndrome","MNGIE","Pes cavus",
                            "Leukoencephalopathy with brainstem and spinal cord involvement and lactate elevation",  
                            "Renal transplant","Respiratory failure","Sideroblastic anaemia","Paediatric phenotype"] )  

sys = sys.drop(columns = ['Hepatic carcinoma','Head and neck cancer','Laryngeal cancer','Leukaemia','Lymphoma','Myeloma',     
                        'Lung cancer','Oesophageal cancer','Gastric cancer','Small bowel cancer','Colon cancer',
                        'Brain tumour','Pancreatic cancer','Renal cancer','Bladder cancer','Prostate cancer',
                        'Osteosarcoma','Breast cancer','Ovarian cancer','Uterine cancer','Cervical cancer',        
                        'Other','Unnamed: 31','Glomerulonephritis',"Tubulopathy/ Fanconi's syndrome",  
                        'Dialysis','Chronic kidney disease','Unnamed: 7','Systemic features','Thyroid cancer'])

fam = fam.drop(columns = ['Pedigree Index Number','Family history'])

soc = soc.drop(columns = ['Social history'])

blood = blood.drop(columns = ['Blood results','Urine sodium',
                              'Random cortisol','Free triiodothyronine (FT3)','eGFR','Unnamed: 3'])

neuro = neuro.drop(columns = ["Neurophysiology","EMG","SFEMG","Normal.1","jitter","blocking",
                              "NCS","Mononeuropathy","Polyneuropathy","Mononeuritis multiplex", 
                                "Motor","Sensory","Sensorimotor","Ganglionopathy",
                                "Axonal","Demyelinating","Mixed","EEG",                  
                                "Unnamed: 29","Unnamed: 32","Unnamed: 37","Unnamed: 42","Unnamed: 47"])

img = img.drop(columns = ["Imaging","PET scan","Normal","SPECT","Normal.1","DAT scan","Normal.2",
                          "Normal.3","Reduced uptake bilaterally","Reduced uptake on the left basal ganglia",
                          "CT head","Description (other)","MRS (brain)","lactate_peak","MRS (muscle)",
                          "normal.1","MRI (brain)","MRI (heart)","normal.2","hypokinesis","ejection_fraction",
                          "indexed_lv_mass","MRI (muscle)","Atrophy.2","High signal stir","High signal T1"])

car = car.drop(columns = ["Cardiac investigations","ECG","ECHO","LVOT peak velocity (cm/s)",
                          "Septal thickness(cm)","Left ventricle posterior wall thickness diastolic (cm)",
                          "Left atrial index","Left atrial volume","Left ventricle systolic dimension (cm)",
                          "Left ventricle diastolic dimension (cm)","E/E'"])

opth = opth.drop(columns = ["Ophthalmology"])

aud = aud.drop(columns = ["Audiology","Audiogram"])

paed = paed.drop(columns = ["Birth weight","Paediatric information"])

mort = mort.drop(columns = ["Post mortem","Cause of Death Ic)","Mortality"])

npdms = npdms.drop(columns = ["NPMDS","Scaled score","Retrospective scale 1",
                              "Retrospective scale 1 question 1","Retrospective scale 1 question 2",                              
                                "Retrospective scale 1 question 3","Retrospective scale 1 question 4",
                                "Retrospective scale 1 question 5","Retrospective scale 1 question 6",                              
                                "Retrospective scale 1 question 7","Retrospective scale 1 question 8",
                                "Retrospective scale 1 question 9","Retrospective scale 1 question 10",                           
                                "Retrospective scale 1 question 11","Retrospective scale 1 question 12",                            
                                "Retrospective scale 1 question 13","Retrospective scale 1 question 14",                          
                                "Retrospective scale 1 question 15","Retrospective scale 1 question 16",                             
                                "Retrospective scale 1 question 17","Retrospective scale 1 question 18",                            
                                "Retrospective scale 1 question 19","Retrospective scale 1 question 20",                             
                                "Retrospective scale 1 question 21","Retrospective scale 1 question 22",                            
                                "Retrospective scale 1 question 23","Retrospective scale 1 question 24",                           
                                "Retrospective scale 1 question 25","Retrospective scale 1 question 26",                            
                                "Retrospective scale 2","Retrospective scale 2 question 1",                           
                                "Retrospective scale 2 question 2","Retrospective scale 2 question 3",                             
                                "Retrospective scale 2 question 4","Retrospective scale 2 question 5",                             
                                "Retrospective scale 2 question 6","Retrospective scale 2 question 7",                             
                                "Retrospective scale 2 question 8","Retrospective scale 2 question 9",                            
                                "Retrospective scale 2 question 10","Retrospective scale 2 question 11",                            
                                "Retrospective scale 2 question 12","Retrospective scale 2 question 13",                             
                                "Retrospective scale 2 question 14","Retrospective scale 2 question 15",                             
                                "Retrospective scale 2 question 16","Retrospective scale 2 question 17",                             
                                "Retrospective scale 2 question 18","Retrospective scale 2 question 19",                            
                                "Retrospective scale 2 question 20","Retrospective scale 2 question 21",                            
                                "Retrospective scale 2 question 22","Retrospective scale 2 question 23",                             
                                "Retrospective scale 2 question 24","Retrospective scale 2 question 25",                             
                                "Retrospective scale 2 question 26","Retrospective scale 3",
                                "Retrospective scale 3 question 1","Retrospective scale 3 question 2",
                                "Retrospective scale 3 question 3","Retrospective scale 3 question 4",
                                "Retrospective scale 3 question 5","Retrospective scale 3 question 6",
                                "Retrospective scale 3 question 7","Retrospective scale 3 question 8",
                                "Retrospective scale 3 question 9","Retrospective scale 3 question 10",
                                "Retrospective scale 3 question 11","Retrospective scale 3 question 12",
                                "Retrospective scale 3 question 13","Retrospective scale 3 question 14",
                                "Retrospective scale 3 question 15","Retrospective scale 3 question 16",                            
                                "Retrospective scale 3 question 17","Retrospective scale 3 question 18",
                                "Retrospective scale 3 question 19","Retrospective scale 3 question 20",
                                "Retrospective scale 3 question 21","Retrospective scale 3 question 22",
                                "Retrospective scale 3 question 23","Retrospective scale 3 question 24",
                                "Retrospective scale 3 question 25","Retrospective scale 3 question 26"])

In [38]:
# renaming columns so that columns with same names for different clinical outcomes are not repeated

gen.rename(columns={'Other notes':'Gen_Other'}, inplace=True)

his.rename(columns={'Normal':'His_Normal'}, inplace=True)

neuro.rename(columns={'Normal':'EMG_Normal','Other':'EMG_Other','Neurogenic':'EMG Neurogenic',
                      'Myopathic':'EMG_Myopathic','Normal.2':'NCS_Normal','Normal.3':'EEG_Normal'},
             inplace=True)

img.rename(columns={"Normal.4":"CThead_Normal",'Atrophy':"CThead_Atrophy",
                    "Infarct":"CThead_Atrophy","Other":"CThead_Other",
                    "normal":"MRS (brain)_Normal","Normal.5":"MRIbrain_Normal",
                    "Atrophy.1":"MRIbrain_Atrophy","Infarct.1":"MRIbrain_Infarct",
                    "White matter change":"MRIbrain_White_matter_change",
                    "Other.1":"MRIb_Other","Other.2":"MRIb_Notes"},inplace=True)

car.rename(columns = {'Normal':'ECG_Normal','Other':'ECG_Other',
                      'Description (other)':'ECG_Description',
                      'Image':'ECG_Image','Normal.1':'ECHO_Normal',
                      'Image.1':'ECHO_Image','Description (other).1':'ECHO_Description',
                      'Other.1':'ECHO_Other'},inplace=True)

opth.rename(columns={'normal':'Opth_Normal','ptosis':'Opth_Ptosis',
                     'restriction':'Opth_Restriction','Normal':'Opth_Normal2'},inplace=True)

aud.rename(columns = {"Normal":"Aud_Normal"},inplace=True)

paed.rename(columns = {"Cardiomyopathy":"Paed_Cardiomyopathy"},inplace=True)

In [39]:
# Duplicate Sex column is removed 
clin = clin.drop(columns = ["Sex"])

In [40]:
# Replacing Sex value for patient ee9e
all.loc[all['Unique ID'] == "ee9e", "Sex"] = "F"

In [41]:
# Tried to use for loop to merge data but can't 
#df_list = [his,heter,clin,phen,sys,fam,blood,neuro,img,car,aud,paed]
#for df in df_list:
 #   df1 = pd.DataFrame(columns=["Unique ID", "Date"])
 #   df1 = pd.merge(df1,df,on=["Unique ID", "Date"],how='outer')

# Combining dataframes with Unique ID and Date column, not included trans,soc,nmdas,npdms sheets
df1 = pd.merge(his, heter, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, clin, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, phen, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, sys, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, fam, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, blood, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, neuro, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, img, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, car, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, opth, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, aud, on=["Unique ID", "Date"],how='outer')
df1 = pd.merge(df1, paed, on=["Unique ID", "Date"],how='outer')

In [42]:
# Combining dataframes with Unique ID only
df2 = pd.merge(all, gen, on=["Unique ID"],how='left')
df2 = pd.merge(df2, mort, on=["Unique ID"],how='left')

In [43]:
# Merging both datasets together
df_combined =  pd.merge(df2, df1, on=["Unique ID"],how='outer')

#### Data Cleaning for NPDMS sheet

In [44]:
# pd.set_option('display.max_rows', 250)
# To check percentage of missing values in each column 
# npdms.isnull().sum().sort_values(ascending = False)/ npdms.shape[0]

In [45]:
# Functions to combine same columns in NPDMS across different age ranges
def npdms_combine (col1,col2,col3):
    npdms[col1].update(npdms.pop(col2))
    npdms[col1].update(npdms.pop(col3))

def npdms_combine2 (col1,col2):
    npdms[col1].update(npdms.pop(col2))

In [46]:
npdms_combine('1. Vision','1. Vision.1','1. Vision.2')
npdms_combine('2. Hearing','2. Hearing.1','2. Hearing.2')
npdms_combine('3. Communication','3. Communication.1','3. Communication.2')
npdms_combine('4. Feeding','4. Feeding.1','4. Feeding.2')
npdms_combine('5. Mobility','6. Mobility.1','6. Mobility')
npdms_combine('1. Seizures','1. Seizures.1','1. Seizures.2')
npdms_combine('2. Encephalopathy','2. Encephalopathy.1','2. Encephalopathy.2')
npdms_combine('3. Gastrointestinal','4. Gastrointestinal','4. Gastrointestinal.1')
npdms_combine('4. Endocrine','5. Endocrine','5. Endocrine.1')
npdms_combine('5. Respiratory','6. Respiratory','6. Respiratory.1')
npdms_combine('6. Cardiovascular','7. Cardiovascular','7. Cardiovascular.1')
npdms_combine('7. Renal','8. Renal','8. Renal.1')
npdms_combine('8. Liver','9. Liver','9. Liver.1')
npdms_combine('9. Blood','10. Blood','10. Blood.1')

npdms_combine('1. Growth','1. Growth.1','1. Growth.2')
npdms_combine('2. Development','2. Development.1','2. Development.2')
npdms_combine('3. Vision','3. Vision.1','3. Vision.2')
npdms_combine('4. Ptosis','4. Ptosis.1','4. Ptosis.2')
npdms_combine('5. Myopathy','5. Myopathy.1','5. Myopathy.2')
npdms_combine('6. Pyramidal','7. Pyramidal','7. Pyramidal.1')
npdms_combine('7. Extrapyramidal','8. Extrapyramidal','8. Extrapyramidal.1')
npdms_combine('8. Neuropathy','9. Neuropathy','9. Neuropathy.1')

npdms_combine("Child's overall health","Child's overall health.1","Child's overall health.2")
npdms_combine("Child's limitations in physical activities","Child's limitations in physical activities.1","Child's limitations in physical activities.2")
npdms_combine("Child's energy levels","Child's energy levels.1","Child's energy levels.2")
npdms_combine("Child's bodily pain","Child's bodily pain.1","Child's bodily pain.2")
npdms_combine("Child's behaviour","Child's behaviour.1","Child's behaviour.2")
npdms_combine("Child's interaction with others","Child's interaction with others.1","Child's interaction with others.2")
npdms_combine("Parent's emotional difficulty because of child","Parent's emotional difficulty because of child.1","Parent's emotional difficulty because of child.2")
npdms_combine('Time limited because of child','Time limited because of child.1','Time limited because of child.2')
npdms_combine('Family activity limited because of child','Family activity limited because of child.1','Family activity limited because of child.2')
npdms_combine('Financial cost','Financial cost.1','Financial cost.2')
npdms_combine('Ability of family to get along','Ability of family to get along.1','Ability of family to get along.3')
npdms_combine('Positive effects of illness','Positive effects of illness.1','Positive effects of illness.3')

In [47]:
# 2 columns 


npdms_combine2('5. Self-care','5. Self-care.1')
npdms_combine2('7. Educational achievement','7. Educational achievement.1')
npdms_combine2('System specific involvement.1','System specific involvement.2')
npdms_combine2('3. Stroke-like episodes','3. Stroke-like episodes.1')
npdms_combine2('6. Ataxia','6. Ataxia.1')



npdms_combine2("Child's limitations in everyday life","Child's limitations in everyday life.1")
npdms_combine2('Child bothered by emotional problems during past 4 weeks','Child bothered by emotional problems during past 4 weeks.1')
npdms_combine2("Child's satisfaction with themselves","Child's satisfaction with themselves.1")



npdms_combine2('Overall health','Overall health.1')
npdms_combine2('Limitations in physical activities','Limitations in physical activities.1')
npdms_combine2('Limitations in everyday life','Limitations in everyday life.1')
npdms_combine2('Energy levels','Energy levels.1')
npdms_combine2('Bodily pain','Bodily pain.1')
npdms_combine2('Emotional difficulty','Emotional difficulty.1')
npdms_combine2('Satisfaction with self','Satisfaction with self.1')
npdms_combine2('Behaviour','Behaviour.1')
npdms_combine2('Interaction with others','Interaction with others.1')
npdms_combine2('Ability of family to get along.2','Ability of family to get along.4')
npdms_combine2('Positive effects of illness.2','Positive effects of illness.4')

In [48]:
npdms = npdms.add_suffix('_npdms')
npdms.rename(columns={ 'Unique ID_npdms':'Unique ID','Date_npdms':'Date',
                    '1. Vision_npdms':'Vision_npdms_self',
                    '2. Hearing_npdms':'Hearing_npdms',
                    '3. Communication_npdms':'Communication_npdms',
                    '4. Feeding_npdms':'Feeding_npdms',
                    '5. Mobility_npdms':'Mobility_npdms',
                    '1. Seizures_npdms':'Seizures_npdms',
                    '2. Encephalopathy_npdms':'Encephalopathy_npdms',
                    '3. Gastrointestinal_npdms':'Gastrointestinal_npdms',
                    '4. Endocrine_npdms':'Endocrine_npdms',
                    '5. Respiratory_npdms':'Respiratory_npdms',
                    '6. Cardiovascular_npdms':'Cardiovascular_npdms',
                    '7. Renal_npdms':'Renal_npdms',
                    '8. Liver_npdms':'Liver_npdms',
                    '9. Blood_npdms':'Blood_npdms',
                    '1. Growth_npdms':'Growth_npdms',
                    '2. Development_npdms':'Development_npdms',
                    '3. Vision_npdms':'Vision_npdms',
                    '4. Ptosis_npdms':'Ptosis_npdms',
                    '5. Myopathy_npdms':'Myopathy_npdms',
                    '6. Pyramidal_npdms':'Pyramidal_npdms',
                    '7. Extrapyramidal_npdms':'Extrapyramidal_npdms',
                    '8. Neuropathy_npdms':'Neuropathy_npdms',
                    "Child's overall health_npdms":"Child's overall health_par",
                    "Child's limitations in physical activities_npdms":"Child's limitations in physical activities_par",
                    "Child's energy levels_npdms":"Child's energy levels_par",
                    "Child's bodily pain_npdms":"Child's bodily pain_par",
                    "Child's behaviour_npdms":"Child's behaviour_par",
                    "Child's interaction with others_npdms":"Child's interaction with others_par",
                    "Parent's emotional difficulty because of child_npdms":"Parent's emotional difficulty because of child_par",
                    'Time limited because of child_npdms':'Time limited because of child_par',
                    'Family activity limited because of child_npdms':'Family activity limited because of child_par',
                    'Financial cost_npdms':'Financial cost_par',
                    'Ability of family to get along_npdms':'Ability of family to get along_par',
                    'Positive effects of illness_npdms':'Positive effects of illness_par',   
                    '5. Self-care_npdms':'Self-care_npdms',
                    '7. Educational achievement_npdms':'Educational achievement_npdms',
                    '3. Stroke-like episodes_npdms':'Stroke-like episodes_npdms',
                    '6. Ataxia_npdms':'Ataxia_npdms', 
                    'Ability of family to get along.2_npdms':'Ability of family to get along_self',
                    'Positive effects of illness.2_npdms':'Positive effects of illness_self' },inplace=True)

In [49]:
# dropping columns with all NA in NPDMS data
npdms.dropna(axis=1, how='all',inplace=True)

### Weight by Age Percentiles

In [50]:
# subsetting the dataframe to understand changes in weight 
w = df_combined[['Unique ID','Sex','Date','Birth date','Weight (kg)']]

In [51]:
import warnings
warnings.filterwarnings('ignore')

# calculating the Age of patient in days for the date when the Weight was recorded 
w['Age_days'] = w['Date'] - w['Birth date']
w.dropna(axis=0, how='any',inplace=True)
below5= w[w["Age_days"] < "1857 days"] # WHO data contains information for upto 5 years (1856 days)
below5.rename(columns={"Weight (kg)":"Weight"}, inplace=True)

perc_boys = pd.read_csv("/Users/nishaalajmera/Documents/MScProject/Data/perc_boys.txt",delimiter='\s+')
perc_girls = pd.read_csv("/Users/nishaalajmera/Documents/MScProject/Data/perc_girls.txt",delimiter='\s+')

In [52]:
# Load dataframes obtained from WHO 
perc_boys = pd.read_csv("WHO_data/perc_boys.txt",delimiter='\s+')
perc_girls = pd.read_csv("WHO_data/perc_girls.txt",delimiter='\s+')

# Drop L,M,S columns 
perc_boys.drop(columns = ['L','M','S'],inplace=True)
perc_girls.drop(columns = ['L','M','S'],inplace=True)

# Add Sex column to each dataframe 
perc_boys['Sex'] = 'M'
perc_girls['Sex'] = 'F'

# Concatenate the boys and girls dataset
perc_below5 =  pd.concat([perc_boys,perc_girls],ignore_index=True)
perc_below5.rename(columns={"Age":"Age_days"}, inplace=True) # rename Age column
perc_below5['Age_days'] = pd.to_timedelta(perc_below5['Age_days'], unit='D') #converting to timedelta format

In [53]:
# Dataframe for children below 5 years with information on Age and percentiles
below5 = pd.merge(below5, perc_below5, on=["Age_days","Sex"],how='left')

In [54]:
from scipy.interpolate import interp1d

# formula to interpolate from the percentile rows 
# given the weight of patient to estimate the percentile they are in 
def w_perc (row):
    xg = np.array([row.P01,row.P1,row.P3,row.P5,row.P10,row.P15,row.P25,row.P50,row.P75,row.P85,row.P90,row.P95,row.P97,row.P99,row.P999])
    yg = np.array([0.01,1,3,5,10,15,25,50,75,85,90,95,97,99,99.9])
    f_interp = interp1d(xg,yg,fill_value="extrapolate")
    xw = row.Weight
    
    return(f_interp(xw))

In [55]:
# adding percentiles column 
below5['wba_percentiles'] = below5.apply(lambda row: w_perc(row),axis=1)

In [56]:
below5

,Unique ID,Sex,Date,Birth date,Weight,Age_days,P01,P1,P3,P5,...,P25,P50,P75,P85,P90,P95,P97,P99,P999,wba_percentiles
0,20c9,F,2007-09-10,2004-03-11,23.000,1278 days,10.160,11.132,11.756,12.105,...,13.697,14.970,16.406,17.252,17.859,18.811,19.465,20.786,23.342,99.77957746478874
1,459f,M,2013-04-22,2008-07-08,18.300,1749 days,11.999,13.222,14.000,14.433,...,16.384,17.919,19.619,20.607,21.309,22.399,23.142,24.622,27.419,55.602941176470594
2,459f,M,2013-01-28,2008-07-08,17.000,1665 days,11.747,12.931,13.684,14.103,...,15.985,17.462,19.095,20.042,20.714,21.758,22.468,23.880,26.544,42.18009478672987
3,459f,M,2012-12-17,2008-07-08,16.500,1623 days,11.619,12.784,13.525,13.936,...,15.785,17.233,18.833,19.761,20.418,21.439,22.132,23.512,26.111,37.3446132596685
4,459f,M,2012-09-24,2008-07-08,17.400,1539 days,11.360,12.488,13.203,13.601,...,15.382,16.775,18.310,19.198,19.827,20.803,21.465,22.781,25.254,60.17915309446254
5,459f,M,2012-09-17,2008-07-08,16.700,1532 days,11.339,12.463,13.176,13.573,...,15.349,16.736,18.266,19.152,19.778,20.750,21.410,22.721,25.183,49.35111751982694
6,459f,M,2012-06-25,2008-07-08,16.300,1448 days,11.075,12.163,12.851,13.234,...,14.944,16.278,17.745,18.593,19.192,20.121,20.751,22.000,24.343,50.37491479209274
7,459f,M,2012-02-28,2008-07-08,15.200,1330 days,10.695,11.731,12.387,12.750,...,14.372,15.632,17.015,17.812,18.375,19.246,19.835,21.004,23.187,41.428571428571416
8,459f,M,2010-09-13,2008-07-08,14.200,797 days,8.818,9.625,10.131,10.409,...,11.640,12.583,13.604,14.186,14.595,15.223,15.646,16.478,18.011,85.17114914425427
9,33c0,F,2011-04-11,2007-09-15,10.800,1304 days,10.248,11.233,11.865,12.220,...,13.835,15.128,16.587,17.448,18.065,19.034,19.700,21.046,23.652,0.5648020304568545
10,65ca,F,2013-06-17,2010-07-01,10.000,1082 days,9.461,10.338,10.899,11.212,...,12.634,13.765,15.034,15.779,16.311,17.145,17.716,18.866,21.077,0.6184492588369446
11,b83e,M,2016-12-13,2015-09-24,10.600,446 days,7.269,7.915,8.316,8.537,...,9.504,10.237,11.023,11.469,11.781,12.257,12.577,13.202,14.343,61.54580152671755
12,f2f1,M,2018-11-26,2014-03-06,16.600,1726 days,11.931,13.142,13.914,14.343,...,16.275,17.794,19.476,20.452,21.146,22.223,22.957,24.418,27.178,30.34891375905205
13,f2f1,M,2017-08-01,2014-03-06,13.500,1244 days,10.410,11.410,12.042,12.392,...,13.951,15.160,16.483,17.245,17.783,18.614,19.176,20.288,22.362,17.557755775577554
14,d21c,M,2019-11-25,2016-12-30,12.400,1060 days,9.788,10.712,11.294,11.615,...,13.042,14.144,15.345,16.034,16.519,17.267,17.772,18.770,20.620,13.763888888888882
15,d21c,M,2018-11-26,2016-12-30,10.800,696 days,8.398,9.157,9.632,9.893,...,11.045,11.925,12.875,13.416,13.795,14.377,14.768,15.536,16.949,19.49438202247193
16,d21c,M,2017-08-01,2016-12-30,8.600,214 days,5.893,6.423,6.751,6.931,...,7.716,8.307,8.939,9.294,9.543,9.921,10.174,10.667,11.562,61.5901898734177
17,b2f9,M,2014-01-14,2009-06-02,18.700,1687 days,11.813,13.007,13.767,14.190,...,16.090,17.582,19.232,20.190,20.870,21.926,22.644,24.074,26.773,66.93939393939394
18,b2f9,M,2013-08-19,2009-06-02,16.400,1539 days,11.360,12.488,13.203,13.601,...,15.382,16.775,18.310,19.198,19.827,20.803,21.465,22.781,25.254,43.26992103374012
19,b2f9,M,2013-02-25,2009-06-02,14.700,1364 days,10.806,11.857,12.522,12.890,...,14.537,15.819,17.225,18.037,18.610,19.497,20.098,21.289,23.517,28.178627145085773
20,b2f9,M,2012-07-30,2009-06-02,13.000,1154 days,10.108,11.071,11.678,12.013,...,13.508,14.665,15.928,16.654,17.166,17.956,18.490,19.546,21.510,16.226252158894646
21,d722,F,2017-10-11,2014-03-13,18.000,1308 days,10.262,11.248,11.882,12.237,...,13.856,15.152,16.615,17.478,18.097,19.068,19.736,21.086,23.699,89.21647819063004
22,c26d,M,2017-10-31,2016-09-08,8.500,418 days,7.130,7.764,8.157,8.373,...,9.320,10.037,10.806,11.242,11.546,12.012,12.324,12.933,14.046,6.85131195335277
23,be8a,F,2017-10-30,2014-05-15,23.200,1264 days,10.113,11.077,11.697,12.044,...,13.622,14.885,16.308,17.147,17.748,18.691,19.339,20.647,23.177,99.90818181818183
24,b4a5,M,2018-03-27,2015-12-13,10.300,835 days,8.970,9.794,10.311,10.596,...,11.857,12.823,13.871,14.469,14.889,15.535,15.970,16.826,18.406,2.9574468085106416
25,d05b,M,2020-12-02,2016-08-18,14.700,1567 days,11.447,12.587,13.311,13.713,...,15.516,16.927,18.484,19.385,20.024,21.014,21.687,23.024,25.538,13.747252747252734
26,d05b,M,2020-03-17,2016-08-18,14.150,1307 days,10.619,11.646,12.295,12.655,...,14.259,15.506,16.873,17.660,18.216,19.076,19.658,20.811,22.965,23.250401284109152
27,d05b,M,2019-11-02,2016-08-18,15.300,1171 days,10.165,11.135,11.747,12.085,...,13.592,14.758,16.033,16.766,17.282,18.080,18.619,19.685,21.670,60.62745098039217
28,d05b,M,2018-11-01,2016-08-18,13.500,805 days,8.850,9.661,10.169,10.449,...,11.686,12.634,13.660,14.246,14.657,15.289,15.715,16.552,18.095,71.10136452241716
29,d05b,M,2018-10-08,2016-08-18,13.700,781 days,8.753,9.553,10.053,10.329,...,11.547,12.480,13.490,14.065,14.470,15.091,15.509,16.330,17.844,78.65217391304347
30,d05b,M,2018-09-14,2016-08-18,13.600,757 days,8.654,9.443,9.936,10.208,...,11.407,12.325,13.317,13.883,14.280,14.890,15.300,16.107,17.591,80.0
31,d05b,M,2018-08-23,2016-08-18,12.500,735 days,8.563,9.341,9.827,10.095,...,11.277,12.181,13.158,13.715,14.106,14.705,15.109,15.901,17.360,58.16274309109521
32,d05b,M,2018-08-13,2016-08-18,12.150,725 days,8.521,9.294,9.777,10.043,...,11.218,12.115,13.086,13.638,14.026,14.621,15.021,15.808,17.254,50.90113285272915
33,d05b,M,2018-07-03,2016-08-18,10.370,684 days,8.346,9.100,9.571,9.831,...,10.973,11.845,12.787,13.323,13.699,14.276,14.663,15.424,16.822,12.187499999999972
34,d05b,M,2018-06-08,2016-08-18,10.400,659 days,8.239,8.981,9.445,9.700,...,10.823,11.680,12.605,13.131,13.499,14.065,14.445,15.191,16.560,15.230946882217085
35,d05b,M,2018-05-05,2016-08-18,10.000,625 days,8.091,8.818,9.271,9.520,...,10.618,11.454,12.356,12.869,13.228,13.779,14.148,14.874,16.205,11.492805755395684
36,d05b,M,2018-03-28,2016-08-18,9.900,587 days,7.924,8.633,9.075,9.318,...,10.387,11.201,12.078,12.576,12.924,13.459,13.818,14.521,15.810,13.611111111111121
37,d05b,M,2018-02-26,2016-08-18,9.780,557 days,7.789,8.485,8.918,9.157,...,10.204,11.000,11.857,12.344,12.684,13.206,13.556,14.242,15.499,14.621212121212096
38,d05b,M,2017-12-04,2016-08-18,10.460,473 days,7.399,8.057,8.466,8.691,...,9.678,10.426,11.229,11.685,12.003,12.491,12.818,13.457,14.626,51.05853051058538
39,d05b,M,2017-10-30,2016-08-18,10.050,438 days,7.230,7.872,8.271,8.490,...,9.452,10.180,10.962,11.404,11.714,12.187,12.505,13.125,14.259,45.53571428571432
40,d05b,M,2017-08-10,2016-08-18,7.500,357 days,6.813,7.418,7.794,8.000,...,8.903,9.585,10.316,10.729,11.018,11.459,11.754,12.331,13.382,1.436170212765961
41,d05b,M,2017-06-07,2016-08-18,7.360,293 days,6.446,7.020,7.376,7.571,...,8.425,9.069,9.757,10.146,10.418,10.832,11.109,11.651,12.635,2.9101123595505616
42,d05b,M,2017-05-03,2016-08-18,6.795,258 days,6.220,6.776,7.120,7.309,...,8.133,8.755,9.419,9.794,10.055,10.454,10.721,11.242,12.188,1.1104651162790704
43,db7c,M,2015-09-15,2011-04-20,17.700,1609 days,11.576,12.735,13.471,13.880,...,15.718,17.156,18.746,19.667,20.319,21.332,22.021,23.390,25.967,58.553459119496864
44,db7c,M,2014-09-15,2011-04-20,17.600,1244 days,10.410,11.410,12.042,12.392,...,13.951,15.160,16.483,17.245,17.783,18.614,19.176,20.288,22.362,88.29925650557621
45,e562,M,2019-05-13,2016-11-14,11.800,910 days,9.256,10.115,10.654,10.952,...,12.269,13.281,14.381,15.010,15.452,16.133,16.591,17.495,19.165,15.803921568627459
46,e2cb,F,2019-11-18,2017-05-18,14.750,914 days,8.804,9.604,10.115,10.400,...,11.689,12.711,13.853,14.522,14.999,15.744,16.255,17.279,19.240,87.38993710691824
47,e6a2,M,2019-09-04,2016-01-05,14.750,1338 days,10.721,11.761,12.419,12.783,...,14.411,15.676,17.064,17.865,18.430,19.305,19.897,21.071,23.265,31.699604743083018
48,a7d2,M,2020-10-20,2016-12-16,15.400,1404 days,10.935,12.003,12.679,13.054,...,14.732,16.038,17.473,18.301,18.887,19.793,20.408,21.627,23.908,37.78713629402756
49,eee7,M,2021-02-08,2018-04-10,18.700,1035 days,9.702,10.616,11.190,11.507,...,12.917,14.004,15.188,15.867,16.345,17.082,17.580,18.561,20.382,99.06869851729819
50,a88f,F,2003-04-03,2003-04-03,17.300,0 days,2.002,2.273,2.440,2.532,...,2.932,3.232,3.550,3.729,3.853,4.041,4.166,4.409,4.846,125.5489702517164
51,c657,F,2009-08-10,2007-02-07,9.500,915 days,8.808,9.609,10.120,10.405,...,11.695,12.718,13.861,14.530,15.007,15.753,16.264,17.289,19.252,0.8652808988764045
52,d06d,F,2015-04-01,2011-01-04,13.100,1548 days,11.043,12.149,12.863,13.265,...,15.103,16.588,18.274,19.274,19.994,21.128,21.911,23.500,26.602,4.179104477611938
53,e85d,F,2010-08-17,2009-01-28,10.180,566 days,7.208,7.858,8.272,8.502,...,9.539,10.355,11.263,11.791,12.167,12.753,13.152,13.951,15.469,44.63848039215684
54,ffc4,M,2019-05-17,2016-04-05,13.200,1137 days,10.050,11.006,11.609,11.942,...,13.424,14.571,15.823,16.543,17.050,17.832,18.361,19.406,21.349,21.09756097560973